body > * { 
    font-family: Roboto;
}

ul {
    list-style: none;
}

.bookDetails {
  .card-body {
    flex: unset;
  }
}

$danger: #cc5a71;
$primary: #3f88c5;
$secondary: #838683;

$utilities: () !default;
$utilities: map-merge(
  (
    "opacity": (
        property: opacity,
        class: o,
        values: (
          0: 0,
          25: .25,
          50: .5,
          75: .75,
          100: 1,
        )
    )
  ), $utilities);




  @import '../node_modules/bootstrap/scss/bootstrap.scss';